* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}


section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #3498db;
    outline: none;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: #2980b9;
}


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}



.quiz-question-container {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quesion-option {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.quesion-option:hover {
    background-color: #bdc3c7;
}

.quiz-end-container {
    display: flex;
    justify-content: space-around;
}

.final-result-container {
    margin-top: 20px;
}

.final-result {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user1-result, .user2-result {
    margin-bottom: 10px;
}

.user1-name, .user2-name {
    font-weight: bold;
}

.user1-score, .user2-score {
    font-size: 18px;
    color: #3498db;
}

.hide-data {
    display: none;
}
